body {font-family: Arial, Helvetica, sans-serif;}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  color: #000000;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 80%;
}

.modal-content2 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 20px;
  border-radius: 25px;
  background: #021e14;
  color: #ffffff;
}

.close {
  color: #c4b581;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.title {
  text-align: center;
  color:rgb(0,78,56);
  font-size: 125%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 50px;
}

.rankNum {
  
  color:rgb(0,78,56);
  font-size: 125%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 50px;

}

.rank {
  transform: translate(475%, 0) !important;
  margin-left: 10%;
  align-items: center !important;
  padding: 6px;
  color: rgb(0,78,56);
  border-radius: 4px;
}

.but {
  background-color: #f0e1b0;
  width: 10em;
  height: 4em;
  border-radius: 10px;
  text-align: center;
}

.center {
  
  position: relative;
  left: 95%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.modalText {
  text-align: center;
  font-size: 120%;
  color: black;
}

.rankText {
  font-size: 100%;
  color: black;
  text-align: center !important;
}


