nav {
    background-color: #ffffff;
}
header {
    margin: 0px;
    height:200px;
    background-image: linear-gradient(270deg, rgba(196,182,129,0) 60%, rgba(0,78,56,0.6) 60%, rgba(0,78,56,1) 100%), url('images/structurev-2000.jpg');
    background-size: cover;
    text-align: left;
}
body {
  background-color:	rgb(0,78,56);
  /*background-color: #ffffff;*/
  margin: 0px;
  font-family: sans-serif;
}
hr {
    height: 7px;
    border-width: 0px;
    background-color: #c4b581;
    margin: 0px;
}
input[type=text], focus {
    font-weight: bold;
    text-align: center;
    outline: none;
    color: rgb(0,78,56);
    font-size: 100%;
    width: 10%;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid	rgb(0,78,56);
}

.topGBorder{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    height: 7px;
    background-image: linear-gradient(to right, #481c63 0%, #f9c606 28%, #58b947 64%, #008453 100%);
}
.breadCrumbs{
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    height: 35px;
    background-color: black;
    border-radius: 0px;
}
.sections {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgb(0,78,56);
    /*background-color: #E4C505;*/
    height: 2px;
}
.bottomGBorder{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px;
    height: 7px;
    background-image: linear-gradient(to right, #481c63 0%, #f9c606 28%, #58b947 64%, #008453 100%);
}
.footer{
    background-color: black;
    height: 130px;
}

.footer2{
    background-color: rgb(0,46,35);
    height: 40px;
}
.sacstate_logo{
    height: 60%;
    margin-top: 2%;
    margin-left: 4%;
    float: left;
}
.sacstate_info{
    display: inline-block;
    color: white;
    margin-left: 40%;
    margin-top: 3%;
}
.phoneNumber{
    color: #c4b581;
}
.banner {
    margin: 0px;
    width: 40%;
    height: 200px;
    float: left;
}
.banner_text {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 50px;
    margin: 10px;
    text-align: left;
    color: #ffffff;
}
.banner_alt_text {
    padding-top: 0px;
    padding-bottom: 100px;
    padding-left: 60px;
    margin: 0px;
    text-align: left;
    color: #f0e1b0;
}
.time {
    margin: 0px;
    padding: 0px;
    color:black;
    text-align: center;
}
.surveyLayout {
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    /*border: 4px outset #f0e1b0;*/
    /*background-color: #f0e1b0;*/
    background-color: #ffffff;
    position: relative;
    box-shadow: 0px 0px 5px 2px #292929;
}

.layoutBorder {
    margin-left: 0%;
    margin-right: 0%;
    height: 10px;
    background-image: linear-gradient(to right, #0B531D, #0AB823);
}
/*Transportation Survey*/
.title {
    text-align: center;
    color:rgb(0,78,56);
    font-size: 150%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 50px;
}
/*----------------------*/

/*Transportation Types*/
.preferType {
    text-align: center;
    font-size: 130%;
    color: black;
}

.transportationTypesList {
    margin-left: 42%;
    text-align: center;
    padding: 6px;
    color: rgb(0,78,56);
    border-radius: 4px;
    text-align: center;
}
/*-----------------------*/

/*----------------bike----------------*/
.bhaveBike{
    text-align: center;
    font-size: 120%;
    display: none;
}

.bsafeRoute {
    text-align: center;
    display: none;
}

.bnotSafeRoute {
    text-align: center;
    display: none;
}
/*-----------------------------------*/

/*----------------bus----------------*/
.bPlannedRoute {
    text-align: center;
    font-size: 120%;
    display: none;
}

.bHavePlannedRoute {
    text-align: center;
    display: none;
}

.bNoPlannedRoute {
    text-align: center;
    display: none;
}

.bCommuterSleeve {
    text-align: center;
    font-size: 120%;
    display: none;
}

.bHaveCommuterSleeve {
    text-align: center;
    display: none;
}

.bNoCommuterSleeve {
    text-align: center;
    display: none;
}
/*-----------------------------------------*/

/*----------------car----------------*/
.yearLabel{
    float:left;
    font-weight: bold;
    margin-left:33%;
    display: none;
}

.year {
    float: left;
    display: none;
}

.typeOfCar{
    float: left;
    text-align: center;
    font-weight: bold;
    /*visibility: hidden;*/
    display: none;
}

.carlist{
   /*visibility: hidden;*/
    padding: 2px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}

.mpgLabel{
    /*visibility: hidden;*/
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    display: none;
}

.mpg{
    margin-left: 45%;
    /*visibility: hidden;*/
    display: none;
}
/*-----------------------------------*/


/*----------------carpool----------------*/
.cpNumPeople {
    text-align: center;
    font-size: 120%;
    display: none;
    margin-bottom: 20px;
}

.cpYearLabel{
    float:left;
    font-weight: bold;
    margin-left:33%;
    display: none;
}

.cpYear {
    float: left;
    display: none;
}


.cpTypeOfCar{
    float: left;
    text-align: center;
    font-weight: bold;
    /*visibility: hidden;*/
    display: none;
}
.cpCarlist{
   /*visibility: hidden;*/
    padding: 2px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}

.cpMpgLabel{
    /*visibility: hidden;*/
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    display: none;
}

.cpMpg{
    margin-left: 45%;
    /*visibility: hidden;*/
    display: none;
}

/*---------------------------------------*/

/*----------------lightrail----------------*/
.lPlannedRoute {
    text-align: center;
    font-size: 120%;
    display: none;
}

.lHavePlannedRoute {
    text-align: center;
    display: none;
}

.lNoPlannedRoute {
    text-align: center;
    display: none;
}

.lCommuterSleeve {
    text-align: center;
    font-size: 120%;
    display: none;
}

.lHaveCommuterSleeve {
    text-align: center;
    display: none;
}

.lNoCommuterSleeve {
    text-align: center;
    display: none;
}
/*-----------------------------------------*/

/*----------------motorcycle----------------*/
.motorCycles{
    float: left;
    font-weight: bold;
    /*visibility: hidden;*/
    display: none;
}

.motorcyclelist{
   /*visibility: hidden;*/
    padding: 2px;
    border-radius: 5px;
    margin-top: 10px;
    display: none;
}

.myearLabel{
    float:left;
    font-weight: bold;
    margin-left:30%;
    display: none;
}

.myear {
    float: left;
    display: none;
}

.mmpgLabel{
    /*visibility: hidden;*/
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    display: none;
}

.mmpg{
    margin-left: 45%;
    /*visibility: hidden;*/
    display: none;
}

/*------------------------------------*/

/*----------------ridesharing----------------*/
.rNumPeople {
    text-align: center;
    font-size: 120%;
    display: none;
}

.takeAgain {
    text-align: center;
    font-size: 120%;
    display: none;
}

.yesTakeAgain {
    text-align: center;
    display: none;
}

.noTakeAgain {
    text-align: center;
    display: none;
} 
/*-----------------------------------------*/

/*----------------walking----------------*/
.walk{
    text-align: center;
    font-size: 120%;
    display: none;
}

.wsafeRoute {
    text-align: center;
    display: none;
}

.wnotSafeRoute {
    text-align: center;
    display: none;
}
/*-----------------------------------------*/

/*How often do you come to the campus per week?*/
.comingToCampus {
    text-align: center;
    font-size: 130%;
}

.numOfDays {
    margin-left: 48%;
    border-radius: 5px;
    color: rgb(0,78,56);
    padding-top: 2px;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
}
/*---------------------------------------------*/

/*What time do you plan on coming to the campus?*/
.comeTime {
    text-align: center;
    font-size: 130%;
}

.plannedTime {
    margin-left: 45%;
    padding: 2px;
}
/*----------------------------------------------*/

.submit {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 50px;
    margin-left: 37%;
    margin-bottom: 50px;
    border-radius: 8px;
    font-size: 100%;
    background-color: #BEB86F;
    text-align: center;
    color: black;
}
.cancel {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 8px;
    background-color: #BEB86F;
    color: black;
    font-size: 100%;
}